.submit-buttons {
    display: flex;
    justify-content: space-evenly;
}

.popover-content {
    color: #e71d1d;
}

.highlight {
    display: inline-block;
    background-color: yellow;
}

.update-button {
    margin-right: 2vh;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first {
    margin-top: 2vh;
}


@media (max-width: 992px) {
    .submit-buttons {
        margin-bottom: 4vh;
    }
}

@media (max-width: 500px) {
    .page-header {
        padding-bottom: 30px !important;
    }

    h3 > small {
        margin-top: 1vh;
    }

    .table>thead>tr>th, 
    .table>tbody>tr>th, 
    .table>tfoot>tr>th, 
    .table>thead>tr>td, 
    .table>tbody>tr>td, 
    .table>tfoot>tr>td {
        padding-left: 0px !important;
    }
}

@media (max-width: 320px) {
    .student-list-container {
        padding-left: 0 !important;
    }

    .student-list-container > table {
        float: none !important;        
    }   
}